.Profile {
    width: 1000px;
    display: flex;
    margin: 0 auto;
}

.Profile-Menu {
    width: 256px;
}

.ProfileAccountInfo-Layout {
    width: 100%;
    display: flex;
    justify-content: center;
}

.ProfileAccountInfo-Form {
    width: 400px;
}