.Profile {
    width: 1000px;
    display: flex;
    margin: 0 auto;
}

.Profile-Menu {
    width: 256px;
}

.ProfileAccountInfo-Layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ProfileAccountInfo-Form {
    width: 400px;
}

.ProfileCurrentUser-Wrapper {
    width: 400px;
    margin: 40px auto;
}

